<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% extends "Bootstrap/base.html" %}

{% block content %}
 <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styles.css')}}">
<header>

    <div class="jumbotron text-center">
        <h1>YouTube Downloader</h1>
    </div>

</header>

<div class="container" class="panel panel-default">
    <form action="/main" method="post">
        <div class="form-row">
            <input type="text" class="form-control"
                   placeholder="Enter a youtube video url"
                   name="firstvideo"           />
        </div>
        <div class="form-row">
            <input type="submit" value="Start Downloading" class="btn-info btn-lg" />


        </div>
        <div id="downloadStatus" style="display: none;">
        <p>File download completed successfully!</p>
    </div>
         <script>
        document.getElementById('downloadForm').onsubmit = function() {
            document.getElementById('downloadStatus').style.display = 'block';
        };
    </script>

        <center>
      <img src="{{url_for('static',filename='images/logo.png')}}"></center>


    </form>
</div>


{% endblock %}

